# Ignored files

*.user
*.suo
/.vs/
/*/obj/
/*/bin/
/Private Items/
/FetchStatistics.Web/App_Data/
/FetchStatistics.Web/Properties/PublishProfiles/
/FetchStatistics.Web/FetchStatistics.Web.Publish.xml
