<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="Login.ashx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.net>
    <!--<defaultProxy enabled="true">
      <proxy bypassonlocal="False" autoDetect="False" proxyaddress="http://127.0.0.1:8888" usesystemdefault="False" />
    </defaultProxy>-->
  </system.net>
</configuration>
